<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <!-- <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit> -->
  <!-- <hr> -->
  <div class="row">
    <div class="col-xs-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
  <!-- task 3
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestoryFirst()">Destory first Component</button>
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]= "serverElement" [name]= "serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
      <app-servers></app-servers>
      <div app-servers></div>
      <div class="app-servers"></div>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div> -->

  <!-- task 4
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div> -->
  
  <!-- Directives Deep Dive
  <app-identify-odd-even-number></app-identify-odd-even-number> -->
</div>

